* {
    margin: 0;
    padding: 0;
}

body {
    
    display: grid;
    grid-template-columns: 25% 75%;
}

img {   
    
    height: 180px;
    width: 180px;
    border-radius: 250px;   
    
}
section {
    display: flex;
    border-style: solid;
    border-color: coral;
}
header {
    background-color: rgb(13, 44, 90);
    height: 25vh;
    border-style: solid;
    border-color: coral;
}
header ,img{    
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: coral;
    
}
.nome {
    background-color: rgb(43, 64, 161);
    justify-content: center;
    align-items: center;
    height: 25vh;
    color: rgb(247, 245, 243);
    font-size: 35px;
    border-style: solid;
    border-color: coral;
}
.CONTACT {
    background-color: rgb(13, 44, 90);
    height: 25vh;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: coral;
    color: rgb(247, 245, 243);

}
.CONTACT , div {   
    display: flex;    
    border-style: solid;
    border-color: coral;
    color: rgb(247, 245, 243);
    

}

.CONTACT , div  {   
    display: flex;    
    align-items: center;
    border-style: solid;
    border-color: coral;
    color: rgb(247, 245, 243);

}


.SKILLS {
    display: flex;    
    background-color: burlywood;
    height: 25vh;
    border-style: solid;
    border-color: coral;
    
    
}
.LANGUAGES {
    background-color: rgb(13, 44, 90);
    height: 25vh;
    border-style: solid;
    border-color: coral;
    color: rgb(247, 245, 243);
}

.PROFILE {
    background-color: chartreuse;
    height: 25vh;
    border-style: solid;
    border-color: coral;
}

.PROFILE {
    background-color: chartreuse;
    height: 25vh;
    border-style: solid;
    border-color: coral;
}

.EXPERIENCE {
    background-color: rgb(13, 44, 90);
    height: 25vh;
    border-style: solid;
    border-color: coral;
    color: rgb(247, 245, 243);
}

  

.EDUCATION {
    background-color: cornflowerblue;
    height: 25vh;
    border-style: solid;
    border-color: coral;
}
